.athiti-extralight {
    font-family: "Athiti", serif;
    font-weight: 200;
    font-style: normal;
}

.athiti-light {
    font-family: "Athiti", serif;
    font-weight: 300;
    font-style: normal;
}

.athiti-regular {
    font-family: "Athiti", serif;
    font-weight: 400;
    font-style: normal;
}

.athiti-medium {
    font-family: "Athiti", serif;
    font-weight: 500;
    font-style: normal;
}

.athiti-semibold {
    font-family: "Athiti", serif;
    font-weight: 600;
    font-style: normal;
}

.athiti-bold {
    font-family: "Athiti", serif;
    font-weight: 700;
    font-style: normal;
}